[learnet]
feat_layer=0
channels=4
height=416
width=416

# 32,3,1 448 -> 224
[convolutional]
batch_normalize=1
filters=32
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

# 64,3,1 224 -> 112
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2


# 128,3,1 112 -> 56
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

# 256,3,1 56 -> 28
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

#512,3,1 28 -> 14
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

#1024,3,1 14 -> 7
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

[maxpool]
size=2
stride=2

# 1024,3,1
[convolutional]
batch_normalize=1
filters=1024
size=3
stride=1
pad=1
activation=leaky

#[globalavg]
[globalmax]